
html, body {
  margin: none;
  padding: none;
  width: 100%;
  overflow-x: hidden !important;
}


.container{
  height:100%;
  padding: 0;
  padding: 0px 10px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.panel{
  margin: 10px;
}

.btn{
  margin: 24px;
  min-width: 250px;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}



.extra-margin{
  margin: 30px 0px;
}


.page-header {
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
  border-bottom: 1px solid #dddddd;
}

.alert{
  font-size: inherit;
  font-weight: inherit;
  margin: 30px;
}

.clearfix{
  height: 100px;
}


@media (min-width: 768px){
  .dl-horizontal dt {
    float: left;
    width: 90px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  .dl-horizontal dd {
    margin-left: 100px;
    margin-bottom: 10px;
  }

  .bigger-margin{
    margin: 20px 100px;
  }
}


@media (min-width:992px){
  .bigger-margin{
    margin: 30px 200px;
  }
}
